<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.yzl.ehr.mapper.CoursewareCategoryDictMapper">
  <resultMap id="BaseResultMap" type="cn.net.yzl.ehr.dto.CourseWareCategoryDto">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>

  <sql id="Base_Column_List">
    id, name
  </sql>

  <select id="selectList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from courseware_category_dict order by id
  </select>

  <!--     insert into courseware_category_dict (name, creator)
        select t.name,#{creator} as creator from courseware_category_dict
        (#{item.name,jdbcType=VARCHAR},#{item.creator,jdbcType=INTEGER})-->

  <insert id="insert" parameterType="cn.net.yzl.ehr.dto.CourseWareCategoryDto">
    <if test="name != null and creator!=null">
      insert into courseware_category_dict (name,creator) select #{name,jdbcType=VARCHAR} as name ,#{creator,jdbcType=INTEGER} as creator
      from dual where not EXISTS ( select 1 from courseware_category_dict where name=#{name,jdbcType=VARCHAR} )
    </if>
  </insert>

  <insert id="insertList" parameterType="java.util.List">
    <if test="list != null">
    insert into courseware_category_dict (name, creator) values
    <foreach collection="list" item="item" index= "index_no" open="" close="" separator ="," >
     (#{item.name,jdbcType=VARCHAR},#{item.creator,jdbcType=INTEGER})
    </foreach>
    </if>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="java.util.List">
    update courseware_category_dict
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="isDel != null or name != null">
        updator = #{updator,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>