<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.net.yzl.ehr.mapper.OfficeSuppliesChangeRecordMapper" >
  <resultMap id="BaseResultMap" type="cn.net.yzl.ehr.vojo.OfficeSuppliesChangeRecordParam" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="change_type" property="changeType" jdbcType="TINYINT" />
    <result column="item_id" property="itemId" jdbcType="VARCHAR" />
    <result column="staff_id" property="staffId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="collection_quantity" property="collectionQuantity" jdbcType="TINYINT" />
    <result column="collection_desc" property="collectionDesc" jdbcType="VARCHAR" />
    <result column="is_del" property="isDel" jdbcType="TINYINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="staff_no" property="staffNo" jdbcType="INTEGER" />
    <result column="staff_name" property="staffName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, change_type, item_id, staff_id, create_time, collection_quantity, collection_desc, 
    is_del, update_time
  </sql>



  <select id="selectPageRecordList" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    t.id, t.change_type, t.item_id, t.staff_no as staff_no,b.name as staff_name, create_time, collection_quantity, collection_desc
    from office_supplies_change_record t
     left join staff b
     on t.staff_no=b.id
     where t.is_del=0 and t.change_type=1
     <if test="supplieId !=null">
      and item_id=#{supplieId,jdbcType=VARCHAR}
     </if>
    <choose>
      <when test="pageNo!=null and pageSize!=null">
      and limit ${(pageNo-1)*pageSize},#{pageSize}
      </when>
      <otherwise>
        limit 0,0
      </otherwise>
    </choose>
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from office_supplies_change_record
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from office_supplies_change_record
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="cn.net.yzl.ehr.pojo.OfficeSuppliesChangeRecord" >
    insert into office_supplies_change_record (id, change_type, item_id, 
      staff_id, create_time, collection_quantity, 
      collection_desc, is_del, update_time
      )
    values (#{id,jdbcType=VARCHAR}, #{changeType,jdbcType=TINYINT}, #{itemId,jdbcType=VARCHAR}, 
      #{staffId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{collectionQuantity,jdbcType=TINYINT}, 
      #{collectionDesc,jdbcType=VARCHAR}, #{isDel,jdbcType=TINYINT}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>

  <insert id="insertSelective" parameterType="cn.net.yzl.ehr.pojo.OfficeSuppliesChangeRecord" >
    insert into office_supplies_change_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="changeType != null" >
        change_type,
      </if>
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="staffId != null" >
        staff_id,
      </if>
      <if test="collectionQuantity != null" >
        collection_quantity,
      </if>
      <if test="collectionDesc != null" >
        collection_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="changeType != null" >
        #{changeType,jdbcType=TINYINT},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="staffId != null" >
        #{staffId,jdbcType=VARCHAR},
      </if>
      <if test="collectionQuantity != null" >
        #{collectionQuantity,jdbcType=TINYINT},
      </if>
      <if test="collectionDesc != null" >
        #{collectionDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="cn.net.yzl.ehr.pojo.OfficeSuppliesChangeRecord" >
    update office_supplies_change_record
    <set >
      <if test="changeType != null" >
        change_type = #{changeType,jdbcType=TINYINT},
      </if>
      <if test="itemId != null" >
        item_id = #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="staffId != null" >
        staff_id = #{staffId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="collectionQuantity != null" >
        collection_quantity = #{collectionQuantity,jdbcType=TINYINT},
      </if>
      <if test="collectionDesc != null" >
        collection_desc = #{collectionDesc,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.net.yzl.ehr.pojo.OfficeSuppliesChangeRecord" >
    update office_supplies_change_record
    set change_type = #{changeType,jdbcType=TINYINT},
      item_id = #{itemId,jdbcType=VARCHAR},
      staff_id = #{staffId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      collection_quantity = #{collectionQuantity,jdbcType=TINYINT},
      collection_desc = #{collectionDesc,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=TINYINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>